.table{
    border-collapse:collapse;
}

td{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.crosses{
    color: white;
    background-color: gray;
}

.zeros{
    color: white;
    background-color: brown
    ;
}