.forecast-container{
    margin-top: 30px;
    /* display: none; */
}

.forecast-container h3{
    text-align: left;
    margin-bottom: 15px;
    border-bottom:2px solid #eee ;
    padding-bottom: 10px;
}

.forecast-carousel{
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    gap: 15px;
}

.day-card{
    flex: 0 0 100px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e0f7fa;
    font-family: 'Segoe UI', Tahoma,Geneva,Verdana, sans-serif;
}

.weather-app{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.search-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.city-input{
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.search-btn{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3;
}

.search-btn:hover{
    background-color: #0056b3;
}

.weather-info,.error-message, .forecast-container{
    display: none;
}

.weather-icon{
    width: 100px;
    height: 100px;
    margin: 10px 0;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
}

.description{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.details{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

